main {
  margin: 0 auto; }
  main #overview #describe {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1920px;
    height: 300px;
    display: table-cell;
    vertical-align: bottom; }
    main #overview #describe p {
      background-color: white;
      opacity: 0.7;
      margin: 0;
      font-size: 1.5em;
      line-height: 1.3em;
      padding: 1rem 0;
      padding-left: 15px; }

@media screen and (min-width: 768px) {
  main #overview #describe {
    padding: 0;
    vertical-align: -webkit-baseline-middle;
    padding: 10% 20%; }
    main #overview #describe p {
      font-size: 2rem;
      padding: 2rem;
      text-align: center; } }

main #overview #describe {
  background-image: url("../img/professorbanner.jpg"); }

main .mainContainer {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  main .mainContainer .profSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px; }
    main .mainContainer .profSection .prof .profPicture {
      width: 250px;
      display: flex;
      margin: 0 auto;
      border-radius: 50%;
      box-shadow: 0 0 3px grey; }
      main .mainContainer .profSection .prof .profPicture:hover {
        box-shadow: 0 0 15px #272465; }
    main .mainContainer .profSection .textAllProfPage {
      padding: 20px;
      text-align: center;
      width: 400px; }
      main .mainContainer .profSection .textAllProfPage p {
        color: #55557a;
        font-size: 1.1rem; }
    main .mainContainer .profSection .button {
      background-color: white;
      border: 1px solid #55557a;
      padding: 10px;
      color: #272465;
      border-radius: 10px;
      width: 120px;
      text-align: center; }
      main .mainContainer .profSection .button:hover {
        background-color: #272465;
        color: white; }

@media screen and (min-width: 768px) {
  main .mainContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    main .mainContainer .profSection .textAllProfPage {
      margin-left: 30px; } }
